{% extends 'base.html' %}
{% block title %} Register - Household Service {% endblock %}

{% block content %}
    <div class="container-fluid row justify-content-center mt-3">
        <div class="col-6">
            <h1 class="text-center">Register</h1>
            <form action="{{ url_for('register') }}" method="post" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="fname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="fname" name="fname" required>
                    </div>
                    <div class="form-group col-6">
                        <label for="lname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lname" name="lname" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group col-6">
                        <label for="cpassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="cpassword" name="cpassword" required>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
                </div>
                
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <div class="form-group mb-3">
                    <span> Register as Service Professional </span><a href="{{ url_for('register_service_professional') }}">Service Register</a>
                    <br>
                    <span> Already have an account? </span><a href="{{ url_for('login') }}">Login</a>
                </div>
            </form>
        </div>
    </div>
    <style>
        form{
            display:flex;
            flex-direction:column;
            align-items:center;
        }
    
        h1{
            margin-top:64px;
            text-align: center;
        }
        #username, #email {
        width: 440px;
        height:40px; /* Set a specific width for the input fields */
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
        }

        textarea {
            width: 440px;
            padding: 10px;
            border-radius: 5px;
            box-sizing: border-box;
        }

    </style>
{% endblock %}
